{% extends "bases/bootstrap-visitor.html" %}
{% load static %}

{% block content %}

<div class="container">
  <div class="jumbotron text-center">
    <h1>Syllaborem</h1> <h4>alpha</h4>
    <p class="lead">
      <a href="{% url 'landing_about' %}">About</a>
    </p>
    <p>
      <a class="btn btn-lg btn-success " href="{% url 'account_signup' %}" role="button">Register</a>
      or
      <a class="btn btn-lg btn-success " href="{% url 'account_login' %}" role="button">Log In</a>
    </p>
  </div>
</div>

{% endblock %}


